<div class="card">
  <div class="card-image">
    {% if post.image %}
    <img src="/media/{{post.image}}" style="width: 25%;">
    {% endif %}
  </div> 
  <div class="card-content">
    <span class="card-title">{{post.user.first_name}} {{post.user.last_name}}</span>
    <p>{{post.content}}.</p>
    <span >{{post.created_at}}</span>
  </div>
  <div class="card-action">
    <a href="#" onclick="likePost({{post.id}});">{{post.like_set.count}} Like</a>
    <a class="modal-trigger" href="#postModal{{post.id}}">{{post.comment_set.count}} Comment </a>
  </div>
</div>

<div id="postModal{{post.id}}" class="modal" >
  <div class="modal-content">
    <h4 style="text-align: center; font-weight: bold;">Comments</h4>
    <ul>
      {% for comment in post.comment_set.all %}
        <li>{{comment.user.first_name}} - {{comment.content}}</li>
      {% endfor %}
    </ul>
    <form class="input-field" onsubmit="commentPost({{post.id}},document.getElementById('comment{{post.id}}').value);">
      <input placeholder="Add Comments" id="comment{{post.id}}" type="text" class="validate">
      <label for="comment{{post.id}}">Comment</label>
      <button type="submit" class="btn waves-effect">Submit</button>
    </form>
  </div>
</div>